body{
	background-color: #349fd9;
	display: none;
}

.text-white{
	color: white;
}
body  h1,h2,h3,h4,h5{
	color: white;
	//font-weight: bold;
	//text-shadow: 1px 1px 1px ;
	margin: 5px 0px;
}

.tachar{
	text-decoration: line-through;
}

.strong{
	font-weight: bold;
}
.page{
	display: none;
	padding: 20px;
	background-color: white;
	margin: 20px 20px;
	margin-bottom: 0px;
}
.page h4{
	padding: 0px 40px;
	color: #263a84;
	padding-left: 60px;
	margin-bottom: 30px;
	font-weight: bold;
}

.first{
	display: block;
}
.content{
	background-color: white;
	padding: 30px 5%;
	margin: 20px;
}

.page iframe{
	margin: 0 auto;
	display: block;
}

.content h4,h5{	
	text-shadow: none;
	color: #4173A3;
}
.content p{
	padding: 5px 5%;
	margin: 0px;
	color: #4e5056;
	font-size: 19px;
	font-family: Calibri;
}

.page p{
	padding: 5px 5%;
	margin: 0px;
	color: #4e5056;
	font-size: 19px;
	font-family: Calibri;
}
.page ol, ul{
	color: #4e5056;
	font-family: calibri;
	font-size: 19px;
	padding-left: 7%;
}
.separator{
	border-top: 2px solid #2d70b8;
	border-bottom: 2px solid lightgray;
	margin: 20px 60px;
	border-radius: 50%;
}

.mdl-button:hover{
	text-decoration: none;
}

.mdl-button-big{
	font-size: 14pt;
	font-weight: bolder;
	padding: 10px 30px;
	height: auto;
}

/**
 *MathApp
 */

 .math{
 	color: #ffcc00;
 	font-size: 72px;
 	font-weight:bold;
 	text-shadow:1px 1px 2px black;
 }

 .app{
 	color: #3399ff;
 	font-size: 72px;
 	font-weight:bold;
 	text-shadow:1px 1px 2px black;
 }

 .blank-page{
 	background-color: white;
 	display: block; 	
 	border-top: 1px solid lightgray;
 	border-bottom: 1px solid lightgray;
 }

 .bot-nav-bar{
 	display: flex;
	justify-content: center;
 }

 .video{
 	background-color: white;
 	margin: 20px 0px;
 }

 .mdl-button{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 5px;
  }

  .inline-img{
  	display: inline-block;
  }

.ejemplo{
	display: block;
	background-color: #222;
}
.mdl-layout__header{
	background-color: #337ab7;
}
.mdl-layout__tab-bar{
	background-color: #337ab7;	
}
.mdl-navigation.mdl-navigation__link: hover{
	background-color: blue;
}